body{
	background: #53316F url('https://img5.goodfon.com/wallpaper/nbig/3/ea/synth-retrowave-synthwave-fon-new-retro-wave-sintveiv-ret-32.jpg') no-repeat;
	background-size: cover;

}
main{
	display: flex;
}
main>div{
	display: flex;
	flex-direction: column;
	color: white;
	align-items: center;
	width: 50%;
}

h2{
	color: white;
}

