body{
	background: black;
}

main{
	background: #53316F url('https://img5.goodfon.com/wallpaper/nbig/3/ea/synth-retrowave-synthwave-fon-new-retro-wave-sintveiv-ret-32.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: white;
}

section{
	display: flex;
	flex-direction: column;
	text-align: center;
}

p{
	margin: 10px;
}

a{
	color: white;
	text-decoration: none;
	font-weight: bold;
}

h1{
	font-size: 2em;
	text-align: left;
	margin-left: 70px;
	margin-top: 60px;
}

@media(min-width: 768px){
	.atext{
		display: flex;
		flex-direction: row;
		background-color: rgba(232,139,237, .2);
		width: 80%;
		margin: 5% 3%;
		border:2px solid black;
		border-radius:10px ;
		color: white;
		margin-left: auto;
		margin-right: auto;
		min-width: 750px;
		min-height: 150px;
		align-items: center;
		padding-left: 10px;
	}
}

@media(max-width:768px) {
	.atext{
		background-color: rgba(232,139,237, .2);
		width: 70%;
		margin: 5% 3%;
		border:2px solid black;
		border-radius:10px ;
		color: white;
		margin-left: auto;
		margin-right: auto;
		min-width: 300px;
		max-width: 400px;
	}
}