body{
	background-color: black;
}

main{
	background: #53316F url('https://img5.goodfon.com/wallpaper/nbig/b/12/synth-retrowave-synthwave-fon-new-retro-wave-sintveiv-ret-29.jpg') no-repeat;
	background-size: cover;
    background-attachment: fixed;
	color: white;
}

section {
	display: flex;
	flex-direction: column;
	text-align: center;
}

form {
	display: flex;
}

h1{
	font-size: 2em;
}

.fiche>div{
	background-color: rgba(232,139,237, .2);
	width: 70%;
	margin: 5% 3%;
	border:2px solid black;
	border-radius:10px ;
	color: white;
	margin-left: auto;
	margin-right: auto;
	min-width: 315px;
	max-width: 400px;
	padding: 10px;
}

article input{
	width: 65%;
	padding: 15px;
	margin: 5px;
}

aside>div>div{
	margin: 10px;
}

aside>div>div>div{
	text-align: left;
	margin: 5px 5px 5px 15%;
}

.preciser{
	display: none;
}

#autre:checked ~ .preciser{
	display: block;
}

@media(min-width: 768px){
	form{flex-direction: row;}
	.fiche{width: 50%;}
}

@media(max-width: 768px){
	form{flex-direction: column;}
}