body{
	background: #53316F url('https://img5.goodfon.com/wallpaper/nbig/b/12/synth-retrowave-synthwave-fon-new-retro-wave-sintveiv-ret-29.jpg') no-repeat;
	background-size: cover;
    background-attachment: fixed;
	color: white;
}

main{
    display: flex;
    flex-direction: column;
    text-align: center;
}

form{
    display: flex;
}

.fiche {
    background-color: rgba(232,139,237, .2);
    border:2px solid black;
    border-radius:10px ;
    color: white;
    margin-left: auto;
    margin-right: auto;
    min-width: 315px;
    max-width: 400px;
    padding: 15px;
}


left > div > input{
    height:55px;
    width: 85%;
    margin: 5px;
}

right > div{
    text-align: left;
}

right > div > div{
    margin: 10px;
}
right > div > div > div{
    margin: 5px 0 0 15px;
}

#submit{
    height: 40px;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

#pays{
    width: 60%;
}

@media(min-width: 768px;){
    form{flex-direction: row;}
    .fiche{width: 50%;}
}

@media(max-width: 768px;){
    form{flex-direction: column;}    
}