body{
	background: #53316F url('https://img5.goodfon.com/wallpaper/nbig/b/12/synth-retrowave-synthwave-fon-new-retro-wave-sintveiv-ret-29.jpg') no-repeat;
	background-size: cover;
	color: white;
  font-family: 'Open Sans', sans-serif;
}

form{
  display:flex;
  justify-content: space-around;
}

form > div:first-child{

  padding:20px;
  width: 35%;
  background-color:#fff;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

form > div:nth-child(2){

  padding:20px;
  width: 40%;

  display: flex;
  flex-direction: column;

  background-color:#fff;
  border-radius: 10px;

}


form > div:first-child > input{
  height:55px;
  width: 85%;
  margin: 5px;
}

form > div:nth-child(2) > div{

  padding:15px;

}



label{

  font-weight:lighter;
  color:#414141;

}

h2{

  font-weight:lighter;
  color:#414141;
}

#submit{

  height: 40px;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

#pays{
   width: 60%;
}
@media(max-width:768px) {
  form{
    flex-direction: column;
    align-items: center;
  }
  form>div{
    margin-top: 2%;
  }
}