body{
    background: #53316F url('https://img5.goodfon.com/wallpaper/nbig/b/12/synth-retrowave-synthwave-fon-new-retro-wave-sintveiv-ret-29.jpg') no-repeat;
    background-size: cover;
    color: white;
}

img{
	height: 150px;
	width: 150px;
}

img.gast{
	height: 170px;
}