body{
	background: black;
}

#background{
	background: #53316F url('https://img5.goodfon.com/wallpaper/nbig/b/12/synth-retrowave-synthwave-fon-new-retro-wave-sintveiv-ret-29.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: white;
}

main {
	display: flex;
	flex-direction: column;
	text-align: center;
}

article{
	display: flex;
}

img.equipe{
	height: 150px;
	width: 150px;
}

#gast{
	height: 170px;
}

.fiche>div{
	background-color: rgba(232,139,237, .2);
	width: 70%;
	margin: 5% 3%;
	border:2px solid black;
	border-radius:10px ;
	color: white;
	margin-left: auto;
	margin-right: auto;
	min-width: 300px;
	max-width: 400px;
}

p{
	margin: 10px;
}

div>div>div{
	text-align: left;
}

.equipe{
	height:10em;
	border: 2px solid black;
	border-radius: 10px
}

@media(min-width: 768px){
	article{flex-direction: row;}
	.fiche{width: 50%;}
}

@media(max-width: 768px){
	article{flex-direction: column;}
}

h1{
	font-size: 2em;
}