body{
	background-color: black;
}

main{
	background: black url('https://a-static.besthdwallpaper.com/lunettes-nike-vision-fond-d-ecran-2880x1620-17040_52.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: white;
}

header{
	color: white;
}

a:link{
	text-decoration: none;
	color:white;
	cursor: pointer;
	font-weight: bolder;
}


a:visited{
	text-decoration: none;
	color: white;
	font-weight: bolder;
}
a:hover{
	color: orange;
}
section {

    display: flex;
    flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 70%;
	background-color: rgba(48, 45, 45, 0.2);
	border-radius:10px;
	border:2px solid black;
	margin-bottom: 2%;
	margin-top: 2%;
	
}
.image{
	width: 10%;
	height: 60%;
}


