body{
	background: black url('https://a-static.besthdwallpaper.com/lunettes-nike-vision-fond-d-ecran-2880x1620-17040_52.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	text-decoration: none;
    	color: white;
}
#Text {

    display: flex;
    flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 70%;
	min-width: 400px;
	max-width: 600px;
	background-color: rgba(170,170,170, .2);
	border-radius:10px;
	border:2px solid black;
	
}
