body{
	background-color:beige;
	background-size: cover;
	background-attachment: fixed;
	text-decoration: none;
	color: black;

}
header{
	background-color: black;
	color: white;
}

a:link{
	text-decoration: none;
	color: white;
	cursor: pointer;
}
a:visited{
	text-decoration: none;
	color: white;
}

footer{
	background-color: black;
	display: flex;
	flex-direction: row;
	border:10px solid black;
}
footer>div{
	text-align:center;
	margin-left: auto;
	margin-right: auto;
}
#Text {

    display: flex;
    flex-direction: column;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 70%;
	min-width: 400px;
	max-width: 800px;
	background-color: rgba(48, 45, 45, 0.2);
	border-radius:10px;
	border:2px solid black;
	margin-bottom: 2%;
	margin-top: 2%;
}
.image{
	width: 5%;
	height: 5%;
}
