footer{
	background-color: black;
	display: flex;	
	color: white;
	justify-content: space-around;
}
#background{padding-bottom: 2%}
@media(min-width: 768px){
	footer{flex-direction: row;}
}

@media(max-width: 768px){
	footer{flex-direction: column;}
}

.direction{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	flex-grow: 2;
}

.direction>div{
	text-align: center;
	margin-left: auto;
	margin-right: auto;
}

footer a:link{
	text-decoration: none;
	color:white;
	cursor: pointer;
	font-weight: bolder;
}

footer a:visited{
	text-decoration: none;
	color: white;
	font-weight: bolder;
}

.image{
	width: 10%;
	height: 10%;
	min-height: 40px;
	min-width: 40px;
	max-width: 50px;
}

footer .logo{
	height: 80%;
	min-width: 100px;
}

.produit{
	width: 120px;
}

.reseaux{
	width: 115px;
}

footer li{
	text-align: left;	
}