body{
  font-family: 'Open Sans', sans-serif;
  background:#e2e2e2;
}

.container_inscription{
  position:relative;
  top:50px;
  left:32%;
  display:block;
  width:500px;
  height:550px;
  background:#fff;
  border-radius:10px;
}

.container_connexion{
  position:relative;
  top:130px;
  left:32%;
  display:block;
  width:500px;
  height:300px;
  background:#fff;
  border-radius:10px;

}

h2{
  padding-top:35px;
  padding-left:35px;
  font-weight:lighter;
  color:#414141;
}

input{
  height:50px;
  margin-top:10px;
  width:70%;
  margin-left:60px;
}

#envoi{
	width:50%;
    margin-left:115px;
}

label{
	display:block;
	font-weight:lighter;
    color:#414141;
	margin-left:60px;
	margin-top:25px;
}



