body{
  background-color: black;
}

#background{
  background: #53316F url('https://img5.goodfon.com/wallpaper/nbig/3/ea/synth-retrowave-synthwave-fon-new-retro-wave-sintveiv-ret-32.jpg') no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white;
}

.container{
  background-color: rgba(232,139,237, .2);
  width: 70%;
  margin: 5% 3%;
  border:2px solid black;
  border-radius:10px ;
  margin-left: auto;
  margin-right: auto;
  min-width: 300px;
  max-width: 400px;
}

input{
  height:50px;
  margin-top:10px;
  width:70%;
  margin-left: 15%;
}

#envoi{
	width:50%;
  margin-bottom: 10px;
  margin-left: 25%;
}
#top{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

label{
	display:block;
	margin-left:60px;
	margin-top:25px;
}

#top a{
  color: orange;
  text-align: center;
  border-radius:8px;
  border:1px solid grey;
  height:20px;
  width: 100px;
  margin: 5%;
}
@media(max-height: 600px){

  input{
    max-height:20px;
    margin-top:5px;
  }

}