body{
  font-family: 'Open Sans', sans-serif;
  background:#e2e2e2;
}

.container_inscription{
  position:relative;
  top:40px;
  left:32%;
  display:block;
  width:500px;
  height:585px;
  background-color:#fff;
  border-radius:10px;
}

.container_connexion{
  position:relative;
  top:130px;
  left:32%;
  display:block;
  width:500px;
  height:330px;
  background:#fff;
  border-radius:10px;

}

h2{
  padding-top:35px;
  padding-left:35px;
  font-weight:lighter;
  color:#414141;
}

input{
  height:50px;
  margin-top:10px;
  width:70%;
  margin-left:60px;
}

#envoi{
	width:50%;
    margin-left:115px;
}
#top{
  display: flex;
  flex-direction: row;
}

label{
	display:block;
	font-weight:lighter;
  color:#414141;
	margin-left:60px;
	margin-top:25px;
}

#top a{

  text-align: center;
  border-radius:8px;
  border:1px solid grey;
  height:20px;
  margin-top:55px;
  width:20%;
  margin-left:160px;
}



