
@font-face {
	font-family: teen;
	src:url(teen.ttf);
}

nav{
	width: 100%;
	display: flex;
	color: red;
	flex-direction: row;
	justify-content: flex-end;
	flex-shrink: 2;

}

nav a{
		/*border-left:  1px solid white;*/
		color: white;
		padding: 15px;
		border-radius: 10px;
		text-decoration: none;
		font-weight: bold;
		font-size: 90%;

	}

nav a:hover{
	border-right: 1px solid white;
	border-left: 1px solid white;
	border-radius: 10px;

}


nav>div{
	margin-left: 1%;


}

header{
	display: flex;
	flex-direction: row;
	align-items: center;
	/*border-bottom:2px solid white;*/
}

div:hover>.submenu{
	display: flex;
}

.submenu{
	display: none;
	flex-direction: column;
	justify-content: stretch;
	top:7%;
	position: absolute;

}



.logo{
	width:100%;
	border-radius: 10px;
}

.reflg{
	background: black;
	display: flex;
	flex-shrink: 2;

}

.submenu>div{
	display: flex;
	visibility: initial;

}
.burger>img{
	width: 70px;
}

@media(max-width: 768px){

	a:visited{
		text-decoration: none;
		color: black;
	}
	a:link{
		text-decoration: none;
		color: black;
	}

	a:hover{
		color: orangered
	}
	nav{

		display: none;
	}


	.burger{
		display: flex;
		position: absolute;
		top: 1%;
		left: 80%;
		bottom: 5%;


		width: 20vw;
		height: 5vh;
		flex-direction: column;
	}
	#menuBurger {
		background-color: rgba(170,170,170, .8);
		display: none;
	}

	.burger:hover >#menuBurger{
		display: flex;
		flex-direction: column;


	}

	#menuBurger>div{
		margin-top: 2%;
	}
}

@media(min-width: 769px){
	.burger{
		display: none;
	}
}
