nav{
		display: flex;
		color: red;
		flex-direction: row;
		justify-content: center;
}
nav a{
		border: 2px solid black;
		background-color: #e88bed;
		color: black;
		padding: 20px;
		border-radius: 10px;
		opacity: 1;

		
	}

.submenu{
	display: flex;
	flex-direction: column;
	position: absolute;
	top: 6%;
}
.submenu>div{

	display: flex;
	justify-content: space-between;
	visibility: hidden;

}
div:hover>.submenu>div{
	visibility: initial;
}
