body{
	background: black;
}

#background{
	background: #53316F url('https://a-static.besthdwallpaper.com/lunettes-nike-vision-fond-d-ecran-2880x1620-17040_52.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: white;
}

main {
	display: flex;
	flex-direction: column;
	text-align: center;
}
article{
	display: flex;
	flex-direction: row;
}
.divImg{
	width: 100%;
	border-radius: 0%;
	border: 0px;
	background: transparent;
}
.imgMetier{
	width: 100%;
	height: 25vh;
}
main div{
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: rgba(232,139,237, .2);
	width: 70%;
	border:2px solid black;
	border-radius:10px ;
	color: white;
	margin-left: auto;
	margin-right: auto;
	min-width: 300px;
	max-width: 400px;
}

main a{
	color: white;
	padding: 15px;
	text-decoration: none;
	font-weight: bold;
}

@media(min-width: 768px){
	article{flex-direction: row;}
	.fiche{width: 50%;}
	main div{
		margin-top: 5%;
	}
}

@media(max-width:768px) {
	article {
		flex-direction: column;
		justify-content: center;
	}
}