body{
	background: black url('https://a-static.besthdwallpaper.com/lunettes-nike-vision-fond-d-ecran-2880x1620-17040_52.jpg') no-repeat;
	background-size: cover;
	color: white;

}


main{
	display: flex;
	flex-direction: column;
	align-content: center;
}
article{
	display: flex;
	margin: center;
	flex-direction: column;
	align-content: center;
}

h1{background-color: #FAA93B;
	padding: 1% 5%;
	width: 25%;
	margin: 2% 3%;
	border:2px solid black;
	border-radius:10px ;
}

img{
	margin: 0% 3vw;
	height:20%;
	width: 40%;
	border: 2px solid black;
	border-radius: 10px;}