body{

	background: black url('https://a-static.besthdwallpaper.com/lunettes-nike-vision-fond-d-ecran-2880x1620-17040_52.jpg') no-repeat;
	background-size: cover;
	background-attachment: fixed;
	color: white;

}
p{
	text-align: justify;
}

main{
	display: flex;
	flex-direction: column;
	align-content: center;
}
article{
	display: flex;
	align-content: center;
	background-color: rgba(170,170,170, .2);
	border-radius:10px ;
	margin: 4% 10%;
	max-width: 80%;
	border:2px solid black;
	justify-content: flex-end;

}

/*article>div{*/
/*	margin-top: 4%;*/
/*	width: 40%;*/
/*	background-color: rgba(170,170,170, .2);*/
/*	border-radius:10px ;*/

/*}*/

h1{
	text-align: center;
	padding: 1% 0%;
}
.text_news{
	/*background-color: #FAA93B;*/
	display: flex;
	flex-direction: column;
	padding: 5% 3%;
	flex-shrink: 2;
	flex-grow: 2;
}
.img_news{
	display: flex;
	flex-direction: column;
	justify-content: center;
	/*padding: 5% 2%;*/
	flex-shrink: 6;
	flex-grow: 6;

}
article img{
	/*margin: 0% 3vw;*/

	max-width: 50vw;
	max-height: 20vw;
	border: 2px solid black;
	border-radius: 10px;
}
@media(max-width:1000px){
	article{flex-direction: column;
	justify-content: center;}
	.img_news{
		flex-direction: row;
	align-content: center;
	}
}
