body{

	background: black url('https://a-static.besthdwallpaper.com/lunettes-nike-vision-fond-d-ecran-2880x1620-17040_52.jpg') no-repeat;
	background-size: cover;
	color: white;

}
p{
	text-align: justify;
}

main{
	display: flex;
	flex-direction: column;
	align-content: center;
}
article{
	display: flex;
	align-content: center;
	background-color: rgba(170,170,170, .2);
	border-radius:10px ;
	margin: 4% 10%;
	width: 80%;
	border:2px solid black;
	justify-content: flex-end;

}

/*article>div{*/
/*	margin-top: 4%;*/
/*	width: 40%;*/
/*	background-color: rgba(170,170,170, .2);*/
/*	border-radius:10px ;*/

/*}*/

h1{
	text-align: center;
	padding: 1% 0%;
}
.text_news{
	/*background-color: #FAA93B;*/
	padding: 5% 3%;
}
.img_news{
	padding: 2% 0%;
}
img{
	/*margin: 0% 3vw;*/
	max-width: 50em;
	border: 2px solid black;
	border-radius: 10px;}