
@font-face {
	font-family: teen;
	src: local(teen);
}

body{
	background: black;
}

#background{
	background: #53316F url('https://img5.goodfon.com/wallpaper/nbig/b/12/synth-retrowave-synthwave-fon-new-retro-wave-sintveiv-ret-29.jpg') no-repeat;
	background-size: cover;
	color: white;
}

article>div{
	display: flex;
	flex-direction: column;
	background-color: rgba(232,139,237,.2);
	width: 30%;
	border:2px solid black;
	border-radius:10px;
	align-items: center;

	color: white;
	margin-left: 2%;
}

.imgProduit{
	width: 100%;
	display: flex;
	justify-content: center;
}


.produits{
	height:25vh;
	width: 80%;
	border: 2px solid black;
	border-radius: 10px;

}

main{

	display: flex;
	flex-direction: column;
}

article{
	display: flex;
	flex-direction: row;
	justify-content: center;

	/*align-items: center;*/
}

