
@font-face {
	font-family: teen;
	src: local(teen);
}

body{
	background: black;
}

main{
	background: #53316F url('https://img5.goodfon.com/wallpaper/nbig/b/12/synth-retrowave-synthwave-fon-new-retro-wave-sintveiv-ret-29.jpg') no-repeat;
	background-size: cover;
	color: white;
}

article>div{
	display: flex;
	flex-direction: column;
	background-color: rgba(232,139,237,.2);
	width: 30%;
	border:2px solid black;
	border-radius:10px;
	align-items: center;

	color: white;
	margin-left: 2%;
}

.imgProduit{
	width: 100%;
	display: flex;
	justify-content: center;
}


.produits{
	height:25vh;
	width: 80%;
	border: 2px solid black;
	border-radius: 10px;

}

section{

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

article{
	display: flex;
	flex-direction: row;
	justify-content: center;

	/*align-items: center;*/
}

thead{
	background-color: rgba(232,139,237,.8);

}
thead .skill{color: white;}
/*change couleur une ligne sur deux*/
tbody>tr:nth-child(odd){
	background-color: rgba(232,139,237,.6);
}
tr:nth-child(even){
	background-color: rgba(232,139,237,.2);
}

td{text-align: center;}
table .skill{padding: 0px 5px;}
table{
	width:60% ;

}

