body{
	background: black;
}

main{
	background: #53316F url('https://img5.goodfon.com/wallpaper/nbig/b/12/synth-retrowave-synthwave-fon-new-retro-wave-sintveiv-ret-29.jpg') no-repeat;
	background-size: cover;
	color: white;
}

article>div{
	display: flex;
	flex-direction: column;
	background-color: rgba(232,139,237,.2);
	width: 25%;
	height: 30%;
	border:2px solid black;
	border-radius:10px;
	align-items: center;

	color: white;
	margin-right: 2%;
}

.imgProduit{
	width: 100%;
	display: flex;
	justify-content: center;
}


.produits{
	height:25vh;
	width: 100%;
	border: 2px solid black;
	border-radius: 10px;

}

section{

	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-between;
}

article{
	display: flex;
	flex-direction: row;
	justify-content: space-around;


	/*align-items: center;*/
}

thead{
	background-color: rgba(232,139,237,.8);

}
thead .skill{color: white;}
/*change couleur une ligne sur deux*/
tbody>tr:nth-child(odd){
	background-color: rgba(232,139,237,.6);
}
tr:nth-child(even){
	background-color: rgba(232,139,237,.2);
}

td{
	text-align: center;
	font-size: 90%;
}
table .skill{
	padding: 0px 5px;
}
table{
	margin:2% 0%;
	width:60% ;

}

@media (max-width: 768px) {
	article{
		flex-direction: column;
		align-items: center;
		margin-top: 2%;
	}
	article>div{
		width: 40%;
	}
}

