body{
  font-family: 'Open Sans', sans-serif;
  background:#e2e2e2;
}

.container{
  position:relative;
  top:100px;
  left:32%;
  display:block;
  width:500px;
  height:800px;
  background:#fff;
  border-radius:5px;
}

h2{
  padding:40px;
  font-weight:lighter;
  color:#414141;
}

input{
  height:50px;
  margin-top:10px;
  width:70%;
  margin-left:60px;
}

#envoi{
	width:50%;
    margin-left:115px;
}



